<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>  <!-- changed -->
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink> <!-- changed -->
  </div>

  <!-- added this button -->
  <button (click)="addArticle(newtitle, newlink)"
          class="ui positive right floated button">
    Submit link
  </button>
  <div *ngIf="loading">loading ...</div>
  <div><pre>{{users | json}}</pre></div>

  <button (click)="loadData()" class="ui positive button">Load</button>


  <table class="ui table celled">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
      <td>aa</td>
      <td>bbb</td>
      <td>ss</td>
    </tr>
    </tbody>
  </table>
</form>

